<p>
    {{ _("Dear ") }} {{ student_name }},
</p>
<br>
<p>
    {{ _("Thank you for applying to volunteer with us! You have been approved and you can login to your account to check more details about the activity!") }}
</p>
<br>

<p>
    <b>{{ _("Activity:") }}</b> {{ title }}
</p>

<br>
<p>
    {{ _("Visit the following link to view your ") }}
    <a href="/batches/{{ name }}">{{ _("Activity Details") }}</a>
</p>
<p>
    {{ _("If you have any questions or require assistance, feel free to contact us.") }}
</p>
<br>
<p>
    {{ _("Best Regards") }}
</p>

